@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* Remove o fundo cinza/branco que aparece ao redor das barras no hover */
.recharts-bar-background-rectangle {
  display: none !important;
}
